// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2021 Kory Maincent <kory.maincent@bootlin.com>
// Based on sun50i-a64-pine64.dts, which is:
//   Copyright (c) 2016 ARM Ltd.

/dts-v1/;

#include "sun50i-a64.dtsi"
#include "sun50i-a64-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Pocket PC";
	compatible = "pocket-pc",
		     "allwinner,sun50i-a64";

	aliases {
		ethernet0 = &emac;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		spi0 = &spi0;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		mmc2 = &mmc2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "c";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			function = LED_FUNCTION_INDICATOR;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pio 4 9 GPIO_ACTIVE_HIGH>; /* PE9 */
		};
	};

	reg_vcc1v8: vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_vcc5v0: vcc5v0 {
		compatible = "regulator-fixed";
		gpio = <&pio 4 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "vcc5v0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_vcc5v5_pos: vcc5v5_pos {
		compatible = "regulator-fixed";
		gpio = <&pio 4 16 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "vcc5v5_pos";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
	};

	reg_vcc5v5_neg: vcc5v5_neg {
		compatible = "regulator-fixed";
		gpio = <&pio 4 17 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "vcc5v5_neg";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&r_pio 0 2 GPIO_ACTIVE_LOW>; /* PL2 */
	};
};

&codec {
	status = "okay";
};

&codec_analog {
	cpvdd-supply = <&reg_eldo1>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&cpu1 {
	cpu-supply = <&reg_dcdc2>;
};

&cpu2 {
	cpu-supply = <&reg_dcdc2>;
};

&cpu3 {
	cpu-supply = <&reg_dcdc2>;
};

&dai {
	status = "okay";
};

&de {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	vcc-dsi-supply = <&reg_dldo1>;		/* VCC3V3-DSI */
	status = "okay";

	panel: panel@0 {
		compatible = "focaltech,8716";
		avdd-supply = <&reg_vcc5v5_pos>;
		avee-supply = <&reg_vcc5v5_neg>;
		reset-gpios = <&pio 6 11 GPIO_ACTIVE_HIGH>; /* LCD_RESET_N: PG11 */
		backlight = <&lm3630a>;
		reg = <0>;
		rotation = <270>;
	};
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&hdmi {
	hvcc-supply = <&reg_dldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	lm3630a: backlight@38 {
		compatible = "ti,lm3630a";
		enable-gpios = <&pio 3 23 GPIO_ACTIVE_HIGH>; /* LCD-BL-EN: PD23 */
		reg = <0x38>;

		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			led-sources = <0>;
			label = "backlight_warm";
			default-brightness = <255>;
			max-brightness = <255>;
			reg = <0>;
		};
	};
};

&i2c2 {
	status = "okay";

	tps6598x: tps6598x@22 {
		compatible = "ti,tps6598x";
		reg = <0x22>;
		interrupt-parent = <&pio>;
		interrupts = <1 2 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";

			port {
				typec0_dr_sw: endpoint {
					remote-endpoint = <&usb0_drd_sw>;
				};
			};
		};
	};

	ft8716_ts: touchscreen@38 {
		compatible = "focaltech,ft8716-ts", "edt,edt-ft5406";
		reg = <0x38>;
		reset-gpios = <&r_pio 0 9 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&r_pio>;
		interrupts = <0 8 IRQ_TYPE_EDGE_FALLING>;
	};
};

&pwm {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_dcdc1>;
	bus-width = <4>;
	broken-cd;
	status = "okay";
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	vmmc-supply = <&reg_dldo4>;
	vqmmc-supply = <&reg_dcdc1>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_dcdc1>;
	vqmmc-supply = <&reg_vcc1v8>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&pio {
	vcc-pe-supply = <&reg_aldo1>;
	vcc-pg-supply = <&reg_dldo4>;

	uart3_lora_pins: uart3-lora-pins {
		pins = "PH4", "PH5";
		function = "uart3";
	};
};

&r_pwm {
	status = "okay";
};

&r_rsb {
	status = "okay";

	axp803: pmic@3a3 {
		compatible = "x-powers,axp803";
		reg = <0x3a3>;
		interrupt-parent = <&r_intc>;
		interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_LOW>;
	};
};

#include "axp803.dtsi"

&ac_power_supply {
	status = "okay";
};

&axp_adc {
	x-powers,ts-as-gpadc;
};

&battery_power_supply {
	status = "okay";
};

&charger_led {
	status = "okay";
};

&reg_aldo1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-pe";
};

&reg_aldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vcc-pl";
};

&reg_aldo3 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "vcc-pll-avcc";
};

&reg_dcdc1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-3v3";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1040000>;
	regulator-max-microvolt = <1300000>;
	regulator-name = "vdd-cpux";
};

&reg_dcdc5 {
	regulator-always-on;
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
	regulator-name = "vcc-dram";
};

&reg_dcdc6 {
	regulator-always-on;
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
	regulator-name = "vdd-sys";
};

&reg_dldo1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-hdmi-dsi";
};

&reg_dldo2 {
	regulator-min-microvolt = <2500000>;
	regulator-max-microvolt = <2500000>;
	regulator-name = "vcc-2v5-edp";
};

&reg_dldo4 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-wifi";
};

&reg_eldo1 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vdd-1v8-lpddr-cpvdd";
};

/*
 * ELDO2 and ELDO3 are connected together to supply VDDI of the LCD
 * panel. As we have no support for concurrently configure two
 * regulators at the same time, make them both always-on now.
 */
&reg_eldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vcc-1v8-lcd-1";
};

&reg_eldo3 {
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "vcc-1v8-lcd-2";
};

&reg_fldo1 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
	regulator-name = "vcc-1v2-hsic-edp";
};

&reg_fldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
	regulator-name = "vdd-cpus";
};

&reg_rtc_ldo {
	regulator-name = "vcc-rtc";
};

&simplefb_hdmi {
	vcc-hdmi-supply = <&reg_dldo1>;
};

&sound {
	simple-audio-card,aux-devs = <&codec_analog>;
	simple-audio-card,widgets = "Headphone", "Headphone Jack",
				    "Microphone", "Microphone Jack";
	simple-audio-card,routing =
			"Left DAC", "DACL",
			"Right DAC", "DACR",
			"Headphone Jack", "HP",
			"ADCL", "Left ADC",
			"ADCR", "Right ADC",
			"Microphone Jack", "HBIAS",
			"MIC2", "Microphone Jack";
	status = "okay";
};

&spi0  {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_lora_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	status = "okay";
	usb-role-switch;

	port {
		usb0_drd_sw: endpoint {
			remote-endpoint = <&typec0_dr_sw>;
		};
	};
};
